.main {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #1D1D1D;
  padding-top: 5.6rem;
  padding-left: 7.2rem;
  transition: all .3s ease-in-out;
}

.main.menu-expanded .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000063;
}

.main .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0vw;
  height: 100vh;
  background-color: #00000000;
  transition: all .3s ease-in-out;
}

.main__content {
  display: grid;
  grid-template-columns: 9rem 2fr 1fr 9rem;
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
}

.main__content-left {
  position: relative;
  z-index: 1;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2.25rem;
}

.main__content-left--video-container {
  position: relative;
  background-color: #143b3b;
  width: 100%;
  min-height: 52.7rem;
  overflow-y: hidden;
}

.main__content-left--video-container iframe {
  display: none;
}

.main__content-left--video-container:active .action-bar, .main__content-left--video-container:hover .action-bar {
  opacity: 1;
}

.main__content-left--video-container .action-bar {
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 4.8rem;
  background: linear-gradient(to bottom, #00000000, #000000);
  transition: opacity .3s ease-in-out;
}

.main__content-left--video-container .action-bar__content {
  margin: 0 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main__content-left--video-container .action-bar__content-timeline {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #efefef4d;
}

.main__content-left--video-container .action-bar__content-timeline .buffered {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #cbcbcb;
}

.main__content-left--video-container .action-bar__content-timeline .currentTime {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: 3.4px;
  background-color: #f31010;
}

.main__content-left--video-container .action-bar__content-left {
  min-width: 14.4rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__content-left--video-container .action-bar__content-left .time {
  display: block;
  height: 100%;
  width: fit-content;
}

.main__content-left--video-container .action-bar__content-left .time span {
  color: white;
  font-size: 1.4rem;
}

.main__content-left--video-container .action-bar__content-left .volume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.main__content-left--video-container .action-bar__content-left .volume-container:active .slider-container, .main__content-left--video-container .action-bar__content-left .volume-container:hover .slider-container {
  width: 5.2rem;
}

.main__content-left--video-container .action-bar__content-left .volume-container .slider-container {
  cursor: pointer;
  position: relative;
  width: 0rem;
  height: 4.8rem;
  overflow-x: hidden;
  margin-right: 6px;
  transition: width .3s ease-in-out;
}

.main__content-left--video-container .action-bar__content-left .volume-container .slider-container .slider-bar {
  position: absolute;
  height: .3rem;
  width: 5.2rem;
  top: 2.45rem;
  left: 0;
  background-color: #ffffff50;
}

.main__content-left--video-container .action-bar__content-left .volume-container .slider-container .slider-circle {
  position: absolute;
  height: .3rem;
  width: 1.2rem;
  top: 2.45rem;
  left: 0;
  background-color: white;
}

.main__content-left--video-container .action-bar__content-left .volume-container .slider-container .slider-circle::after {
  content: "";
  position: absolute;
  top: -5.15px;
  left: 1rem;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
}

.main__content-left--video-title {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
}

.main__content-left--video-title h1 {
  width: fit-content;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.main__content-left--video-info {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  height: 3.3rem;
  justify-content: space-between;
}

.main__content-left--video-info__stats span {
  display: block;
  width: fit-content;
  font-size: 1.7rem;
  color: #b5b5b5;
  font-weight: 300;
}

.main__content-left--video-info__icons {
  width: fit-content;
  display: inline-flex;
}

.main__content-left--video-info__icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 6px;
}

.main__content-left--video-info__icons .icon:nth-last-child(1) {
  margin-right: 0px;
}

.main__content-left--video-info__icons .icon img {
  transform: scale(0.83);
  width: calc(1.6rem + .5vw);
  height: auto;
}

.main__content-left--video-info__icons .icon span {
  margin-left: 6px;
  height: fit-content;
  width: fit-content;
  font-size: calc(1rem + .5vw);
  color: white;
  font-weight: 600;
}

.main__content-left--video-border {
  margin-top: 3.3rem;
  width: 100%;
  height: 1px;
  background-color: #515151;
}

.main__content-right {
  grid-column: 3 / 4;
  padding-top: 2.25rem;
}

.main__content-right__content {
  background-color: rgba(0, 0, 0, 0.067);
  width: 100%;
  height: 100%;
  margin-left: 1.8rem;
}
/*# sourceMappingURL=Main.css.map */