.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #212121;
  height: 5.6rem;
  padding: .6rem 1.6rem;
}

.nav-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.6rem;
  background-color: rgba(255, 255, 255, 0.04);
}

.nav-container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-container__content-right {
  display: flex;
  justify-content: space-between;
  min-width: 18.3rem;
}

.nav-container__content-right .menu-container {
  position: relative;
  z-index: 8;
  cursor: pointer;
}

.nav-container__content-right .menu-container .menu-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.nav-container__content-right .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container__content-right .logo-container .logo-icon {
  height: 3.046rem;
  width: 3.3rem;
}

.nav-container__content-right .logo-container .logo-title {
  color: white;
  font-size: 2.1rem;
  font-weight: bold;
}

.nav-container__content-center {
  min-width: calc(30rem + 15vw);
  min-height: 4rem;
  display: flex;
  justify-content: center;
}

.nav-container__content-center .search-container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container__content-center .search-container form {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-container__content-center .search-container form input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: white;
  border: 1px solid #303030;
  padding: 0%;
}

.nav-container__content-center .search-container .search-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.08);
}

.nav-container__content-center .search-container .search-button-container .search-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.nav-container__content-center .mic-icon-container {
  margin-left: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: black;
  border-radius: 50%;
}

.nav-container__content-center .mic-icon-container .mic-icon {
  width: 1.5rem;
  height: 2rem;
}

.nav-container__content-left {
  width: 20.3rem;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
}

.nav-container__content-left .video-icon-container {
  width: 3.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__content-left .video-icon-container img {
  width: 3.362rem;
  height: 2.05rem;
}

.nav-container__content-left .menu-icon-container {
  width: 3.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__content-left .menu-icon-container img {
  width: 2.33rem;
  height: 2.33rem;
}

.nav-container__content-left .notification-icon-container {
  width: 3.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__content-left .notification-icon-container img {
  width: 2.297rem;
  height: 3.008rem;
}

.nav-container__content-left .avi-icon-container {
  width: 3.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__content-left .avi-icon-container img {
  width: 3rem;
  height: 3rem;
}
/*# sourceMappingURL=nav.css.map */