.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 7.2rem;
    height: 100%;
    background-color: #272727;
    transition: width .3s ease-in-out;
    &.show{
        width: 24rem;
    }
    &__button-container{
        img{
    margin-top: 5.6rem;

        }
    }
}