.main{
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
    padding-top: 5.6rem;
    padding-left: 7.2rem;
    transition: all .3s ease-in-out;
    &.menu-expanded{
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000063;
    }
    }
    .overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0vw;
        height: 100%;
        background-color: #00000000;
        transition: all .3s ease-in-out;
    }

    &__content {
        display: grid;
        grid-template-columns: 5rem 2fr minmax(20rem, 1fr) 4.5rem;
        grid-template-rows: auto;
        width: 100%;
        height: 100%;
        &-left {
            position: relative;
            z-index: 1;
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            padding-top: 2.25rem;
            &--video-container{
                position: relative;
                background-color: rgb(20, 59, 59);
                width: 100%;
aspect-ratio: 16/9;

                max-height: 52.7rem;
                overflow-y: hidden;

                iframe{
                    display: none;

                }
                &:active, &:hover{
                    .action-bar{
                        opacity: 1;
                    }
                }
                .action-bar{
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    left: 0;
                    width: 100%;
                    height: 4.8rem;
                    background: linear-gradient(to bottom, #00000000, #000000 );
                    transition: opacity .3s ease-in-out;
                    &__content{
                        margin: 0 1rem;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        &-timeline{
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 3px;
                            background-color: #efefef4d;
                            .buffered{
                            width: 30%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 3px;
                            background-color: #cbcbcb;
                            }
                            .currentTime {
                                width: 20%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 3.4px;
                            background-color: #f31010;
                            }
                        }
                        &-left{
                            min-width: 14.4rem;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            .time {
                                display: block;

                                height: 100%;
                                width: fit-content;
                                span{

                                    color: white;
                                    font-size: 1.4rem;
                                }
                            }
                            .volume-container{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                cursor: pointer;
                                &:active, &:hover {
                                    .slider-container{
                                    width: 5.2rem;
                                    }
                                }
                                .slider-container{
                                    cursor: pointer;
                                    position: relative;
                                    width: 0rem;
                                    height: 4.8rem;
                                    overflow-x: hidden;
                                    margin-right: 6px;
                                    transition: width .3s ease-in-out;
                                    .slider-bar{
                                        position: absolute;
                                        height: .3rem;
                                        width: 5.2rem;
                                        top: 2.45rem;
                                        left: 0;
                                        background-color: #ffffff50;
                                    }
                                    .slider-circle {
                                        position: absolute;
                                        height: .3rem;
                                        width: 1.2rem;
                                        top: 2.45rem;
                                        left: 0;
                                        background-color: white;
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            top: -5.15px;
                                            left: 1rem;
                                            border-radius: 50%;
                                            width: 14px;
                                            height: 14px;
                                            background-color: white;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
            &--video-title{
                margin-top: 1rem;
                width: 100%;
                height: 2rem;
                h1{
                    width: fit-content;
                    font-size: 2rem;
                    color: white;
                    font-weight: 500;
                }
            }
            &--video-info{
                margin-top: 1rem;
                width: 100%;
                display: flex;
                height: 3.3rem;
                justify-content: space-between;
                &__stats{
                span{
                    display: block;
                    width: fit-content;
                    font-size: 1.4rem;
                    color: #b5b5b5;
                    font-weight: 400;
                    line-height: 2rem;
                }
            }
            &__icons {
                width: fit-content;
                display: inline-flex;
                align-items: flex-end;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 6px;
                    &:nth-last-child(1){
                        margin-right: 0px;

                    }
                    img{
                        transform: scale(.83);
                        max-height: 2.4rem;
                        aspect-ratio: 1/1;
                    }
                    span{
                        margin-left: 6px;
                        height: fit-content;
                        width: fit-content;
                        font-size: 1.4rem;
                        color: white;
                        font-weight: 500;
                        letter-spacing: .4p5;
                    }
                }
            }
            }
            &--video-border{
                margin-top: 1rem;
                width: 100%;
                height: 1px;
                background-color: #515151;
            }
            &--video-border-2{
                margin-top: 1rem;
                width: 100%;
                height: 1px;
                background-color: #515151;
            }
            &--video-channel{
                width: 100%;
                min-height: 5.6rem;
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                .channel-info-container{
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 1rem;
                    .avi-container{
                        width: 4.8rem;
                        height: 4.8rem;
                        img{
                            background-color: #515151;
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .channel-details-container {
                        height: 100%;
                        margin-left: 1.4rem;
                        .channel-name{
                            font-size: 1.9rem;
                            color: white;
                            font-weight: 500;
                            span{
                                display: inline-block;
                                margin-left: .5rem;
                            }
                        }
                        .channel-subs{
                            font-size: 1.2rem;
                            color: #818181;
                        }
                    }
                }
                .channel-subscribe-container{
                    height: 100%;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        width: 10.2rem;
                        height: 3.8rem;
                        background-color: #d41910;
                        border: none;
                        border-radius: .3rem;
                        color: white;
                        font-size: 1.2rem;
                        font-size: medium;
                    }
                }

            }
            &--video-description{

                margin: 2rem 0rem 0rem 6.5rem;
                max-width: 61.5rem;
                .description{
                font-size: 1.4rem;
                font-weight: 400;
                color: white;
                line-height: 2rem;
                white-space: pre-wrap;
                word-break: break-word;
                }
                .show-description {
                    display: block;
                    margin-top: 2rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #A1A1A1;
                    cursor: pointer;
                }
            }
            &--video-comments{
                width: 100%;
                margin-top: 1rem;
                &-heading{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span {
                        font-size: 1.6rem;
                        color: white;
                    }
                    .sort-icon{
                        margin-left: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &-new-comment{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .avi{
                        width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .input-container{
                        margin-left: 2rem;
                        width: 100%;
                        height: 2.4rem;
                        .input{
                        background: #1b1b1b;
                        border: none;
                        border-bottom: 1px solid grey;
                        color: grey;
                        font-size: 1.6rem;
                        font-weight: 500;
                            width: 100%;
                            height: 100%;
                            &:focus, &:focus-visible{
                                outline: #d41a10 solid 2px;
                                border-radius: .3rem;
                            }
                        }
                    }
                }
                &-comment{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    margin-top: 2.4rem;
                    .avi-container{
                        width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .comment-info-container{
                        width: 100%;
                        margin-left: 2rem;
                        .username-date{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            
                            span:nth-of-type(1){
                                font-size: 1.6rem;
                            }
                            span:nth-of-type(2){
                                display: inline-block;
                                margin-left: 1rem;
                                font-size: 1.1rem;
                                font-weight: 500;
                                color: #6e6e6e;
                            }
                        }
                        .comment {
                            margin-top: 1rem;

                            p{
                                font-size: 1.6rem;
                                font-weight: 500;
                            }
                        }
                        .like-dislike-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 1rem;
                            .like-container{
                                img{
                                    width: 1.7rem;
                                    height: auto;
                                }
                                span{
                                    display: inline-block;
                                    margin-left: .5rem;
                                    font-size: 1.5rem;
                                    color: #a1a1a1;
                                }
                            }
                            .dislike-container{
                                margin-left: 2rem;
                                img{
                                    width: 1.7rem;
                                    height: auto;
                                }
                            }
                        }
                        .view-replies-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 1rem;
                            span{
                                display: inline-block;
                                margin-left: 1rem;
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: #52BDF9;
                            }
                        }

                    }
                }
            }
        }
        &-right {
            grid-column: 3 / 4;
            padding-top: 2.25rem;
            &__content{
            // background-color: rgba(73, 73, 73, 0.067);
                width: 100%;
                height: 100%;
                .main__content-right__content--quick-wrapper{
                margin-left: 1.8rem;

                    position: relative;
                    display: flex;
                    // flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
         
                    // z-index: 1;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 2rem;
                        width: 5rem;
                        height: 100%;
                        background: linear-gradient(to left, var(--main-bg-color) 20%, rgba(0, 0, 0, 0));
z-index: 1;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 2rem;
                        width: 3rem;
                        height: 100%;
                        background: linear-gradient(to right, var(--main-bg-color) 20%, rgba(0, 0, 0, 0));
z-index: 1;
                    }
                    .chevron-left, .chevron-right{
                        height: 100%;
                        position: relative;
                        cursor: pointer;
                        img{
                            width: 1.9rem;
                            height: auto;
                            margin: 0 .3rem;
                        }
                    }
                    .main__content-right__content--quick-bar {
                    position: relative;
                    height: 8.3rem;
                    width: 100%;
                    margin-top: .5rem;
                    overflow-x: scroll;
                    border-top: 1px solid var(--main-border-color);
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    &::-webkit-scrollbar { 
                        display: none;
                    }
                    // &__gradient-overlay{
                    //     background: linear-gradient(to right, rgba(0, 0, 0, 0),var(--main-bg-color));
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    //     width: 4.5rem;
                    //     height: 100%;
                    // }
                    &__pill-container{
                        width: auto;
                        height: 100%;
                        form{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            .pill-wrapper{
                                margin-left: .8rem;

                                &:nth-of-type(1){
                                    margin-left: 0;
                                }
                            input{
                                display: none;
                            }
                            .pill{
                                cursor: pointer;
                                display: block;
                                background-color: #3e3e3e;
                               border: 2px solid #ffffff23;
                                color: white;
                                padding: .6rem 1.4rem;
                                border-radius: 5rem;
                                span{
                                font-size: 1.5rem;
                                font-weight: 600;
    
                                }
                            }
                            input:checked ~ .pill{
                                background-color: white;
                                span{
                                    color: #3e3e3e;
                                }
                            }
                        }
                        }
                        
                    }
                }
            }
            &--thumb-wrapper{
                text-decoration: none;
                margin-top: 1.4rem;
                margin-left: 1.8rem;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // place-items: center;

                // display: flex;
                // justify-content: flex-start;
                // align-items: flex-start;
                .thumbnail-wrapper{
                    position: relative;

                    // min-width: calc(5rem + 10vw);
                    height: 10vw;
                    img{
                        width: 100%;
                        // width: 100%;
                        // height: auto;
                    }
                }
                .info-wrapper{
                    margin-left: 1rem;
                    .video-title{
                        font-size: 1.4rem;
                        font-weight: 500;
                        max-height: 4rem;
                        line-height: 2rem;
                        color: white;
                        margin-bottom: 4px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        -ms-text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                    }
                    .channel-name{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        span{
                        line-height: 2rem;
                            color: #aaa;
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                        img{
                            margin-left: .4rem;
                        }
                    }
                    .video-details {
                        display: block;
                        color: #aaa;
                        margin-top: .4rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                        line-height: 2rem;
                        letter-spacing: .05px;
                    }
                }
            }
            }
        }
    }
    @include media-tablet {
padding-left: 0rem;
padding-right: 0rem;
        &__content{
        grid-template-columns: minmax(.5rem, 4rem) minmax(33rem, 85rem) minmax(.5rem, 4rem);
            place-items: center;
            grid-template-rows: auto;
            &-left{
                grid-column: 2 / 3;
                &--video-container{
// width: calc(35rem + 10vw);
place-self: center;
                }
                &--video-title{
                    h1{
                        font-size: font-size(regular);
                    }
                }
                &--video-channel{
                    align-items: center;
                }
                &--video-description{
                    margin: 1rem 0 0 0rem;
                }
                &--video-info{
                    flex-wrap: wrap;
                    height: auto;
                    &__stats{
                        margin-bottom: 1rem;
                    }
                    &__icons{
                        // padding: 1rem 0;
                        margin-bottom: 1rem;
                        flex-wrap: wrap;
                        .icon{
                            margin-top: .5rem;
                        }
                    }
                }
                &--video-comments{
                    &-new-comment{
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                        .input-container{
                            margin-left: 0;

                        }
                    }
                    &-comment{
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                        .comment-info-container{
                            margin-left: 0;
                            .comment{
                                p{
                                    font-size: font-size(small);
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            &-right{
                grid-column: 2 / 3;
                &__content{
                    display: grid;
                    grid-template-rows: auto;
                    // gap: 1rem;
                    grid-template-columns: minmax(.5rem, 4rem) minmax(33rem, 85rem) minmax(.5rem, 4rem);
                    .quick-wrapper{
                        grid-column: 1 / 4;
                        // place-self: center;
                        .chevron-left, .chevron-right{
                            height: unset;
                        }
                        margin-left: 0;
                    }
                    &--thumb-wrapper{
                        grid-column: 1 / 4;
                        margin-top: 1rem;
                        margin-left: 0;
                        grid-template-rows: auto;
                        .thumbnail-wrapper{
                            // height: calc(11rem + 10vw);
                            height: auto;
                            img{}
                        }
                    }
                }
            }
        }
    }
}