.main{
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
    padding-top: 5.6rem;
    padding-left: 7.2rem;
    transition: all .3s ease-in-out;
    &.menu-expanded{
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #00000063;
    }
    }
    .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0vw;
        height: 100vh;
        background-color: #00000000;
        transition: all .3s ease-in-out;
    }

    &__content {
        display: grid;
        grid-template-columns: 9rem 2fr 1fr 9rem;
        grid-template-rows: auto;
        width: 100%;
        height: 100%;
        &-left {
            position: relative;
            z-index: 1;
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            padding-top: 2.25rem;
            &--video-container{
                position: relative;
                background-color: rgb(20, 59, 59);
                width: 100%;
                min-height: 52.7rem;
                overflow-y: hidden;

                iframe{
                    display: none;

                }
                &:active, &:hover{
                    .action-bar{
                        opacity: 1;
                    }
                }
                .action-bar{
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    left: 0;
                    width: 100%;
                    height: 4.8rem;
                    background: linear-gradient(to bottom, #00000000, #000000 );
                    transition: opacity .3s ease-in-out;
                    &__content{
                        margin: 0 1rem;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        &-timeline{
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 3px;
                            background-color: #efefef4d;
                            .buffered{
                            width: 30%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 3px;
                            background-color: #cbcbcb;
                            }
                            .currentTime {
                                width: 20%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 3.4px;
                            background-color: #f31010;
                            }
                        }
                        &-left{
                            min-width: 14.4rem;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            .time {
                                display: block;

                                height: 100%;
                                width: fit-content;
                                span{

                                    color: white;
                                    font-size: 1.4rem;
                                }
                            }
                            .volume-container{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                cursor: pointer;
                                &:active, &:hover {
                                    .slider-container{
                                    width: 5.2rem;
                                    }
                                }
                                .slider-container{
                                    cursor: pointer;
                                    position: relative;
                                    width: 0rem;
                                    height: 4.8rem;
                                    overflow-x: hidden;
                                    margin-right: 6px;
                                    transition: width .3s ease-in-out;
                                    .slider-bar{
                                        position: absolute;
                                        height: .3rem;
                                        width: 5.2rem;
                                        top: 2.45rem;
                                        left: 0;
                                        background-color: #ffffff50;
                                    }
                                    .slider-circle {
                                        position: absolute;
                                        height: .3rem;
                                        width: 1.2rem;
                                        top: 2.45rem;
                                        left: 0;
                                        background-color: white;
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            top: -5.15px;
                                            left: 1rem;
                                            border-radius: 50%;
                                            width: 14px;
                                            height: 14px;
                                            background-color: white;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
            &--video-title{
                margin-top: 1rem;
                width: 100%;
                height: 2rem;
                h1{
                    width: fit-content;
                    font-size: 2rem;
                    color: white;
                    font-weight: 500;
                }
            }
            &--video-info{
                margin-top: 1rem;
                width: 100%;
                display: flex;
                height: 3.3rem;
                justify-content: space-between;
                &__stats{
                span{
                    display: block;
                    width: fit-content;
                    font-size: 1.7rem;
                    color: #b5b5b5;
                    font-weight: 300;
                }
            }
            &__icons {
                width: fit-content;
                display: inline-flex;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 6px;
                    &:nth-last-child(1){
                        margin-right: 0px;

                    }
                    img{
                        transform: scale(.83);
                        width: calc(1.6rem + .5vw);
                        height: auto;
                    }
                    span{
                        margin-left: 6px;
                        height: fit-content;
                        width: fit-content;
                        font-size: calc(1rem + .5vw);
                        color: white;
                        font-weight: 600;
                    }
                }
            }
            }
            &--video-border{
                margin-top: 3.3rem;
                width: 100%;
                height: 1px;
                background-color: #515151;
            }
            &--video-border-2{
                margin-top: 1.3rem;
                width: 100%;
                height: 1px;
                background-color: #515151;
            }
            &--video-channel{
                width: 100%;
                height: 5.6rem;

                display: flex;
                justify-content: space-between;
                .channel-info-container{
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 1rem;
                    .avi-container{
                        width: 4.8rem;
                        height: 4.8rem;
                        img{
                            background-color: #515151;
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .channel-details-container {
                        height: 100%;
                        margin-left: 1.4rem;
                        .channel-name{
                            font-size: 1.9rem;
                            color: white;
                            font-weight: 500;
                            span{
                                display: inline-block;
                                margin-left: .5rem;
                            }
                        }
                        .channel-subs{
                            font-size: 1.2rem;
                            color: #818181;
                        }
                    }
                }
                .channel-subscribe-container{
                    height: 100%;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        width: 10.2rem;
                        height: 3.8rem;
                        background-color: #d41910;
                        border: none;
                        border-radius: .3rem;
                        color: white;
                        font-size: 1.2rem;
                        font-size: medium;
                    }
                }

            }
            &--video-description{

                margin: 2rem 0rem 0rem 6.5rem;
                .description{
                font-size: 1.2rem;
                font-weight: 500;
                color: white;
                }
                .show-description {
                    display: block;
                    margin-top: 2rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #A1A1A1;
                }
            }
            &--video-comments{
                width: 100%;
                margin-top: 1rem;
                &-heading{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span {
                        font-size: 1.6rem;
                        color: white;
                    }
                    .sort-icon{
                        margin-left: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &-new-comment{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .avi{
                        width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .input-container{
                        margin-left: 2rem;
                        width: 100%;
                        height: 2.4rem;
                        .input{
                        background: #1b1b1b;
                        border: none;
                        border-bottom: 1px solid grey;
                        color: grey;
                        font-size: 1.6rem;
                        font-weight: 500;
                            width: 100%;
                            height: 100%;
                            &:focus, &:focus-visible{
                                outline: #d41a10 solid 2px;
                                border-radius: .3rem;
                            }
                        }
                    }
                }
                &-comment{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    margin-top: 2.4rem;
                    .avi-container{
                        width: 4.8rem;
                        height: 4.8rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .comment-info-container{
                        width: 100%;
                        margin-left: 2rem;
                        .username-date{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            
                            span:nth-of-type(1){
                                font-size: 1.6rem;
                            }
                            span:nth-of-type(2){
                                display: inline-block;
                                margin-left: 1rem;
                                font-size: 1.1rem;
                                font-weight: 500;
                                color: #6e6e6e;
                            }
                        }
                        .comment {
                            p{
                                font-size: 1.6rem;
                                font-weight: 500;
                            }
                        }
                        .like-dislike-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 1rem;
                            .like-container{
                                img{
                                    width: 1.7rem;
                                    height: auto;
                                }
                                span{
                                    display: inline-block;
                                    margin-left: .5rem;
                                    font-size: 1.5rem;
                                    color: #a1a1a1;
                                }
                            }
                            .dislike-container{
                                margin-left: 2rem;
                                img{
                                    width: 1.7rem;
                                    height: auto;
                                }
                            }
                        }
                        .view-replies-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 1rem;
                            span{
                                display: inline-block;
                                margin-left: 1rem;
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: #52BDF9;
                            }
                        }

                    }
                }
            }
        }
        &-right {
            grid-column: 3 / 4;
            padding-top: 2.25rem;
            &__content{
            background-color: rgba(0, 0, 0, 0.067);
                width: 100%;
                height: 100%;
                margin-left: 1.8rem;
            }
        }
    }
}